body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2d6a4f; /* Dark Green */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d6a4f; /* Dark Green */
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1e7dd; /* Light Green Border */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Darker Green */
}
.pro img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}