*{
    margin: 0;
    padding: 0;
    }
    .navbar{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.053);
    }
    .navbar img{
        width: 50px;
    }
    /* .profile-image{
        width: 50px;
        height: 50px;
        background-color: rgba(3, 1, 1, 0.292);
        border-radius: 50px;
        cursor: pointer;
    } */
    .container {
        position: relative;
        display: inline-block;
    }
    
    .profile-image {
        width: 50px;
        height: 50px;
        background-color: rgba(3, 1, 1, 0.292);
        cursor: pointer;
        border-radius: 50%;
        object-fit: cover;
    }
    .profile-image img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    
    .dropdown {
        display: none;
        height: 200px;
        width: 200px;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
        right: 2%;
        
    }
    .dropdown img{
        display: block;
        height: 22%;
        width: 22%;
        border-radius: 50%;
        padding: 12px 12px;
        cursor: pointer;
    
    }
    .dropdown img:hover{
        background-color: #f1f1f1;
    }
    .dropdown-option {
        padding: 10px 15px;
        cursor: pointer;
    }
    
    .dropdown-option:hover {
        background-color: #f1f1f1;
    }
    .image{
        height: 30%;
        width: 100%;
    }
    .buttons{
        height: 70%;
        width: 100%;
    }
    .buttons button{
        width: 100%;
        height: 20%;
        margin-bottom: 15%;
    }
    .navbar input{
        width: 50%;
        height: 5vh;
        border: 2px solid black;
    }
    .search{
        display: flex;
        align-items: center;
        width: 79%;
    }
    .search img{
        background-color: black;
        height: 5.46vh;
        width: 40px;
    }